{% extends 'blog/base.html' %}
{% block content %}
	 <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">AKWABA</h1>
                    <p class="lead mb-0">La Côte d'Ivoire est un pays d'Afrique de l'Ouest doté de stations balnéaires, de forêts tropicales et d'un patrimoine colonial français.</p>
                </div>
            </div>
           <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <class class="col-lg-8">
                   
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">              
                        {% for post in posts  %}
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{post.publish}}</div>
                                    <h2 class="card-title h4">{{post.title}}</h2>
                                    <p class="card-text">{{post.body |truncatechars:50}}</p>
                                    <a class="btn btn-primary" href="{% url 'post_detail' post.slug %}">Read more →</a>
                                </div>
                            </div>
                        </div>                            
                        {% endfor %}                                              
                    </div>                   
                   {% include "blog/layouts/pagination.html" with page=posts %}
                   </class>
                </div>
               
        </div> 
        </header>
       
{% endblock content %}
        
